---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Import colors first so variables are available to all partials
@use "colors";

// Use partials from `sass_dir` (defaults to `_sass`)
@use "theme";
@use "syntax";
@use "svg-icons";
