---
layout: default
title: Ryan Harrison
tags:
  - Ryan Harrison
  - Technology
  - Programming
  - Java
  - C#
  - Blog
  - Code
  - Software
---

<div class="home">

    <div class="posts">
        {% for post in paginator.posts %}
            <article class="post">

                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>

                <div class="entry post-content">
                    {{ post.excerpt }}
                </div>

                <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">Read More</a>
                
            </article>
        {% endfor %}
    </div>

    <!-- Pagination links -->
    <ul class="pagination">
        {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">← Newer</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older →</a>
        </li>
        {% endif %}
    </ul>

</div>