<head>

  {% include meta.html %}

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} - {{ site.tagline }}
    {% else %}
      {{ page.title }} - {{ site.title }}
    {% endif %}
  </title>

    {% if paginator.previous_page %}
        <link rel="prev" href="{{ paginator.previous_page_path | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    {% endif %}
    
    {% if paginator.next_page %}
        <link rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | prepend: site.url }}" />
    {% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

  <!-- Tab to search -->
  <link rel="search" type="application/opensearchdescription+xml" title="Ryan Harrison" href="/opensearch.xml" />

  <script>
	function ready(fn) {
	  if (document.readyState === "loading") {
		  document.addEventListener("DOMContentLoaded", fn);
	  } else {
		  fn();
	  }
	}
  </script>
</head>
