<!DOCTYPE html>
<html lang="en-us">
    {% include head.html %}

    <body>
        {% include sidebar.html %}

        <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
        <div class="wrap">
            <div class="masthead">
                <div class="container">
				    <a href="/search.html"><img class="search-icon" alt="Search the site" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjMuODA5IDIxLjY0NmwtNi4yMDUtNi4yMDVjMS4xNjctMS42MDUgMS44NTctMy41NzkgMS44NTctNS43MTEgMC01LjM2NS00LjM2NS05LjczLTkuNzMxLTkuNzMtNS4zNjUgMC05LjczIDQuMzY1LTkuNzMgOS43MyAwIDUuMzY2IDQuMzY1IDkuNzMgOS43MyA5LjczIDIuMDM0IDAgMy45MjMtLjYyNyA1LjQ4Ny0xLjY5OGw2LjIzOCA2LjIzOCAyLjM1NC0yLjM1NHptLTIwLjk1NS0xMS45MTZjMC0zLjc5MiAzLjA4NS02Ljg3NyA2Ljg3Ny02Ljg3N3M2Ljg3NyAzLjA4NSA2Ljg3NyA2Ljg3Ny0zLjA4NSA2Ljg3Ny02Ljg3NyA2Ljg3N2MtMy43OTMgMC02Ljg3Ny0zLjA4NS02Ljg3Ny02Ljg3N3oiLz48L3N2Zz4="></a>
                    <h3 class="masthead-title">
                        <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
                        <small>{{ site.tagline }}</small>
                    </h3>
                </div>
            </div>

            <div class="container content">
                {{ content }}
            </div>

            {% include footer.html %}
        </div>

        <label for="sidebar-checkbox" class="sidebar-toggle" aria-label="Toggle navigation menu" aria-controls="sidebar"></label>

        <script>
            (function(document) {
                var toggle = document.querySelector(".sidebar-toggle");
                var sidebar = document.querySelector("#sidebar");
                var checkbox = document.querySelector("#sidebar-checkbox");

                document.addEventListener(
                    "click",
                    function(e) {
                        var target = e.target;

                        if (
                            !checkbox.checked ||
                            sidebar.contains(target) ||
                            target === checkbox || target === toggle
                        )
                            return;

                        checkbox.checked = false;
                    },
                    false
                );
				
				// scroll to top button
				const topbutton = document.getElementById("topcontrol");
                topbutton.onclick = function(e) {
                    window.scrollTo({top: 0, behavior: "smooth"});
                }

                window.onscroll = function() {
					if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                        topbutton.style.opacity = "1";
                    } else {
                        topbutton.style.opacity = "0";
                    }
				};
            })(document);
        </script>
    </body>
</html>
